external_libraries/boost_1_86_0
external_libraries/Crow
external_libraries/WordNet-3.0
external_libraries/openssl*
external_libraries/cpp_redis
build/*
!build/README.txt
!build/coverage_report
!build/filterbr.py
!external_libraries/README.txt
!external_libraries/cmake/cpp_redis/CMakeLists.txt
!external_libraries/cmake/tacopie/CMakeLists.txt
.DS_Store
.vscode/settings.json
external_libraries/.DS_Store
set_env.sh
external_libraries/cpp_redis
external_libraries/tacopie
